@import "tailwindcss";

@theme {
    --color-secondary-100: #6bb7d1;
    --color-secondary-50: #EEFFFB;
    --color-hover-color: oklch(60.9% 0.126 221.723); 
    --color-darker-color: #3674B5;
    --color-main-color: #D1F8EF;
    --color-footer-color: #3D4358;
    --font-main-font: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    --font-secondary-font: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    --text-header-font-size: 0.9rem;
}

/* Hide spinner buttons for number input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}